<!DOCTYPE html>
<html lang="en" ng-app="scoober">
<head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/"></base>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 

    <!--JS-->    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
		<!--Angular-->
    <script src="javascripts/app.js"></script>
		
		<!--Controllers-->
    <script src="javascripts/controllers/header.js"></script>
    <script src="javascripts/controllers/users.js"></script>
    <script src="javascripts/controllers/events.js"></script>
    <script src="javascripts/controllers/groups.js"></script>
		
</head>

<body>
<nav class="navbar navbar-inverse" ng-controller="headerController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-class="{active: $route.current.activetab == 'home'}" class="navbar-brand" href="/">Scoober</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- I expect these serve up pages in javascripts\app.js -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $route.current.activetab == 'events'}"><a href="/events">Events</a></li>
        <!-- Give 'new profile' user 9 for testing. -->
        <!-- TODO: get rid of this tab from the menu bar eventually -->
        <li ng-class="{active: $route.current.activetab == 'newprofile'}"><a href="/newprofile/9">newprofile</a></li>
        <li ng-class="{active: $route.current.activetab == 'group_create'}"><a href="/groups/create">Groups</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Now this links to user_view page -->
        <!-- TODO: grab uid to throw in this route -->
        <li ng-class="{active: $route.current.activetab == 'admin'}" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/events">Events</a></li>
            <li><a href="/admin/groups">Groups</a></li>
          </ul>
        </li>
        <li ng-class="{active: $route.current.activetab == 'profile'}"><a href="/users/9">Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">sbuyansky<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- TODO: hook up this Profile link like above, or remove from drop-down -->
            <li><a href="#">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
				<li ng-class="{active: $route.current.activetab == 'signup'}"><a href="/signup">Sign Up</a></li>
        <li ng-class="{active: $route.current.activetab == 'login'}"><a href="/login">Log In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        <div ng-view></div>
</body>
</html>
