<div>
<p>Signup:</p>
        <form novalidate>
                <table>
                        <tr>
            using type email, have to include @ and . to have data store
                                <td><input type="text" ng-model="user.email" placeholder="<Email Address>"></td>
                                <td><input type="password" ng-model="user.password" placeholder="<Password>"></td>
                                <td><button ng-click="createUser()">Submit</button></td>
                        </tr>
                        <tr>
                                <td></td>
                                <td><input type="password" ng-model="user.pass_copy" placeholder="<Password Again>"></td>
                                <td></td>
                        </tr>
                </table>
                <br>
        </form>
        <p>Data to send = {{user}}</p>
</div>
