<div>
<p>Signup:</p>
        <form novalidate>
                <table>
                        <tr>
            using type email, have to include @ and . to have data store
                                <td><input type="text" ng-model="user.email" placeholder="<Email Address>"></td>
                                <td><input type="password" ng-model="user.password" placeholder="<Password>"></td>
                                <td><button ng-click="createUser()">Submit</button></td>
                        </tr>
                        <tr>
                                <td></td>
                                <td><input type="password" ng-model="user.pass_copy" placeholder="<Password Again>"></td>
                                <td></td>
                        </tr>
                </table>
                <br>
        </form>
<table class="table table-striped table-hover" >
    <thead><tr>
        <th>uid</th>
        <th>Email</th>
        <th>Password</th>
    </tr></thead>
    <tr ng-repeat="userIter in userData">
        <td>{{userIter.uid}} </td> 
        <td>{{userIter.email}} </td>
        <td>{{userIter.password}} </td>
        <td><button ng-click="deleteUser(userIter.uid, $event)" class="glyphicon glyphicon-remove"/></td>
    </tr>
</table>
        <p>Data to send = {{user}}</p>
</div>
