<!DOCTYPE html>
<html lang="en">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<h3>Create an event!</h3>
<hr>
<div ng-app="myApp" ng-controller="eventCtrl">
  <form novalidate>
    <table>
      <tr>
          <td>Event Name</td>
          <td><input type="text" ng-model="event.EventName" required></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><input type="text" ng-model="event.Address.Street" placeholder="Street" required></td>
        <td><input type="text" ng-model="event.Address.AptNumber" placeholder="Apt #"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="text" ng-model="event.Address.City" placeholder="City" required></td>
        <td>
          <select ng-model="event.Address.State" ng-init="event.Address.State='CO'">
            <option value="CO">CO</option>
            <option value="WI">WI</option>
            <option value="TX">TX</option>
            <option value="CA">CA</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Date</td>
        <td><input type="text" ng-model="event.Time.Date" placeholder="04/05/16" required></td>
      </tr>
      <tr>
        <td>Time</td>
        <td><input type="text" ng-model="event.Time.Start" placeholder="Start" required></td>
        <td><input type="text" ng-model="event.Time.End" placeholder="End" required></td>
      </tr>
      <tr>
        <td>Skill Level</td>
        <td>
          <input type="text" ng-model="event.SkillLevel" placeholder="<boring text box for now...>">
        </td>
      </tr>
      <tr>
        <td>Invite Friends!</td>
        <td><input type="text" ng-model="event.Invitations"></td>
      </tr>
      <tr>
        <td>Additional Hosts</td>
        <td><input type="text" ng-model="event.Hosts"></td>
      </tr>
    </table>
    <p>Additional Info
      <br>
      <textarea rows="5" cols="50" ng-model="event.OtherInfo"></textarea>
    </p>
    <button ng-click="submit()">Submit</button>
  </form>
  <p>Data to send = {{event}}</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('eventCtrl', function($scope) {
    $scope.submit = function() {
      console.log("ready... set... submit!" + $scope);
    };
});
</script>

</body>
</html>
