<!DOCTYPE html>
<html lang="en">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<h3>Create an event!</h3>
<hr>
<div ng-app="myApp" ng-controller="eventCtrl">
  <form novalidate>
    <table>
      <tr>
          <td>Event Name</td>
          <td><input type="text" ng-model="event.EventName" required></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><input type="text" ng-model="event.Address.Street" placeholder="Street" required></td>
        <td><input type="text" ng-model="event.Address.AptNumber" placeholder="Apt #"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="text" ng-model="event.Address.City" placeholder="City" required></td>
        <td>
          <select ng-model="event.Address.State" ng-init="event.Address.State='CO'">
            <option value="CO">CO</option>
            <option value="WI">WI</option>
            <option value="TX">TX</option>
            <option value="CA">CA</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Date</td>
        <td><input type="text" ng-model="event.Time.Date" placeholder="04/05/16" required></td>
      </tr>
      <tr>
        <td>Time</td>
        <td><input type="text" ng-model="event.Time.Start" placeholder="Start" required></td>
        <td><input type="text" ng-model="event.Time.End" placeholder="End" required></td>
      </tr>
      <tr>
        <td>Skill Level</td>
        <td><input type="text" ng-model="event.SkillLevel" placeholder="<boring text box for now...>"></td>
      </tr>
      <tr>
        <td>Event Type</td>
        <td>
          <select ng-model="event.EventType" ng-init="event.EventType='game'">
            <option value="game">Game</option>
            <option value="league">League</option>
            <option value="pickup">Pickup</option>
            <option value="practice">Practice</option>
            <option value="tournament">Tournament</option>
            <option value="workout">Workout</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Viewability of Event</td>
        <td>
          <select ng-model="event.Security" ng-init="event.Security='public'">
            <option value="public">Public</option>
            <option value="inviteOnly">Invite Only</option>
            <option value="canRequest">Can Request</option>
            <option value="viewableWOInvite">Viewable without Invite</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>
          <select ng-model="event.Gender" ng-init="event.Gender='mixed'">
            <option value="mens">Men's</option>
            <option value="womens">Women's</option>
            <option value="mixed">Mixed</option>
          </select>
        </td>
       </tr>
       <tr>
        <td>Ratio</td>
        <td>Men: <input type="number" ng-model="event.GenderRatio.Men" placeholder="<men>" style="max-width:136px"></td>
        <td>Women: <input type="number" ng-model="event.GenderRatio.Women" placeholder="<women>" style="max-width:115px"></td>
      </tr>
      <tr>
        <td>How many players?</td>
        <td>Min: <input type="text" ng-model="event.Players.Min" style="max-width:138px"></td>
        <td>Max: <input type="text" ng-model="event.Players.Max" style="max-width:136px"></td>
      </tr>
      <tr>
        <td>Invite Friends!</td>
        <td><input type="text" ng-model="event.Invitations"></td>
      </tr>
      <tr>
        <td>Additional Hosts</td>
        <td><input type="text" ng-model="event.Hosts"></td>
      </tr>
    </table>
    <p>Additional Info
      <br>
      <textarea rows="5" cols="50" ng-model="event.OtherInfo"></textarea>
    </p>
    <button ng-click="submit()">Submit</button>
  </form>
  <p>Data to send = {{event}}</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('eventCtrl', function($scope) {
    $scope.submit = function() {
      console.log("ready... set... submit!" + $scope);
    };
});
</script>

</body>
</html>
