<!DOCTYPE html>
<html lang="en">
<head>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/new_profile.css">
</head>
<body>
	<div id="page">before
	    <div id="popup" ng-app="myApp" ng-controller="formCtrl">
	    	<div id="welcome_div">
		    	<h3 id="welcome_text">Explain Thyself</h3>
		    </div>
		    <div id="main_content">
		    	<hr>
		        <form novalidate>
		        <!--Basic information-->
		        	<div id="form_div">
		        		<div id="menu_container">
			        		<table>
			        			<tr><td>Basic Info</td></tr>
			        			<tr><td>Profile Pic</td></tr>
			        			<tr><td>About Me</td></tr>
			        		</table>
			        	</div>
			        	<div id="form_container">
			        		<div id="basic_info">
			        			<table>
					                <tr>
					                <!--TODO pull email from database -->
					                    <td>Email</td>
					                    <td>TODO PUT AN EMAIL HERE</td>
					                </tr>
					                <tr>
					                    <td>Username</td>
					                    <td><input type="text" ng-model="user.Username" required></td>
					                </tr>
					                <tr>
					                    <td>Name</td>
					                    <td><input type="text" ng-model="user.FirstName" placeholder="First" required></td>
					                    <td><input type="text" ng-model="user.LastName" placeholder="Last" required></td>
					                </tr>
					                <tr>
					                    <td>Gender</td>
					                    <td>
					                        <select ng-model="user.Gender">
					                            <option value=""></option>
					                            <option value="male">Male</option>
					                            <option value="female">Female</option>
					                        </select>
					                    </td>
					                </tr>
					                <tr>
					                    <td>Phone number</td>
					                    <td><input type="tel" ng-model="user.Phone"></td>
					                </tr>
					                <tr>
					                    <td>Location</td>
					                    <td><input type="text" ng-model="user.City" placeholder="City"></td>
					                    <td>
					                        <select ng-model="user.State">
					                            <option value="" selected="selected">Choose a State</option>
					                            <option value="AL">AL</option> 
					                        </select>
					                    </td>
					                </tr>
					            </table>
			        		</div>
			        		<div id="profile_pic">
					            <!--TODO file is currently broken -->
					            <!--TODO perhaps use an existing library for this?-->
					            <input type="url" ng-model="user.ProfilePicURL" placeholder="URL"> or <input type="file" ng-model="user.ProfilePicPath"></td>
					            <button ng-click="upload()">Upload</button>
			        		</div>
			        		<div id="about_me">
			        			<p>About Me
					                <br>
					                <textarea rows="4" cols="50" ng-model="user.AboutMe" placeholder="Whammo?"></textarea>
					            </p>
			        		</div>
				        </div>
		        	</div>
		        	<hr>
		            <div id="submission">
			        	<button ng-click="submit()">Submit</button>
			        </div>
	        	</form>
	        </div>
	    </div>
		after
	</div>
	<p>Data to send = {{user}}</p>
    <script>
    var app = angular.module('myApp', []);
    app.controller('formCtrl', function($scope) {
        $scope.submit = function() {
          console.log($scope); <!--TODO replace with submit function-->
        };
        
        <!-- Upload an image from a URL or from a chosen path-->
        <!-- Hierarchy - Local Path > URL -->
        <!-- TODO broken code -->
        $scope.upload = function() {
        console.log(typeof $scope.user.ProfilePicPath)
          if (typeof $scope.user.ProfilePicPath !== 'undefined') {
            console.log($scope.user.ProfilePicPath)
          } else if (typeof $scope.user.ProfilePicURL !== 'undefined'){
            console.log($scope.user.ProfilePicURL)
          }
          
        };
    });
    </script>
</body>
</html>
